* {
    padding: 0;
    margin: 0;
    user-select: none;
    caret-color: transparent;
}

.body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 34px;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20%;
}

.container>div:nth-child(1)>div {
    position: absolute;
    bottom: -30%;
    right: -25%;
    width: 40px;
}

.container>div:nth-child(1)>.boxSVG {
    padding: 20px;
    cursor: pointer;
}

.container>div:nth-child(2)>.boxSVG {
    padding: 20px;
    cursor: pointer;
}


.container>div:nth-child(2)>div {
    position: absolute;
    bottom: -30%;
    left: -25%;
    width: 40px;
}



.wpm,
.acc {
    text-align: center;
    width: 400px;
    font-size: 500%;
    color: #76ec00;
}

.nameWpm {
    font-size: 290%;
    color: #418100;
}

.nameAcc {
    font-size: 290%;
    color: #418100;
}